/* ----------------------------------------------
   04-BOARD.CSS
   Contenedor principal y área de scroll
---------------------------------------------- */

.board {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 24px;
    height: calc(100vh - 80px);
    overflow-x: auto;
    overflow-y: hidden;

    /* Fondo transparente para ver el fondo del layout */
    background-color: transparent;
}

/* Wrapper de la columna */
.col-wrap {
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.col-move {
    transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.dragging-columns {
    cursor: grabbing !important;
}
.dragging-columns * {
    pointer-events: none !important;
}

.col-enter-active,
.col-leave-active {
    transition: all 0.2s ease;
}
.col-enter-from,
.col-leave-to {
    opacity: 0;
    transform: scale(0.95);
}

/* Scrollbar horizontal del tablero */
.board::-webkit-scrollbar {
    height: 10px;
}
.board::-webkit-scrollbar-track {
    background: rgba(125, 125, 125, 0.1); /* Neutro */
    margin: 20px;
    border-radius: 10px;
}
.board::-webkit-scrollbar-thumb {
    background: rgba(125, 125, 125, 0.3); /* Neutro */
    border-radius: 10px;
}
.board::-webkit-scrollbar-thumb:hover {
    background: rgba(125, 125, 125, 0.5);
}
